#Database URL
DATABASE_URL="Your DB URL"

#Environment valiables
NODE_ENV=development

#JWT token
JWT_SECRET= Your jwt Secret 

#PORTs
PORT= Your port
CLIENT_URL= Client URL
APP_URL= APP url 

#Google OAuth
GOOGLE_CLIENT_ID="Your client ID"
GOOGLE_CLIENT_SECRET = "Your Secret key"
GOOGLE_REDIRECT_URL= "Your Home RUL "

# GiuHub OAuth
GITHUB_CLIENT_ID= "Your client ID"
GITHUB_CLIENT_SECRET = "Your Secret Key"
GITHUB_REDIRECT_URL= "Your Home URL"

# Gemini AI
GOOGLE_GEMINI_API_KEY="AQ.A8.............."

# Cloudinary 
CLOUDINARY_CLOUD_NAME="dii..."
CLOUDINARY_API_KEY="3347..."
CLOUDINARY_API_SECRET="kKIfa58..."
CLOUDINARY_URL="cloudinary://..."